* {
	margin: 0;
}

/**************************
		NAVIGATION
**************************/
.navigation {
	display: block;
	background-color: #FE926B;
	margin: 0;
	height: 90px;

}

.navigation ul {
	list-style: none;
	float: right;
	margin-right: 100px;
	
}

.navigation ul li {
	position: relative;
	top: 15px;
	display: inline-block;
	margin: auto;
	padding: 15px;

}

.navigation ul li a {
	text-decoration: none;
	font-family: "Concert One", cursive;
	color: white;
	font-size: 1.5em;
}

.nav-avocado-pic {
	position: relative;
	display: inline-block;
	height: 30%;
	width: 30%;
	top: 20px;
}

.nav-avocado {
	display: inline-block;
	margin: 0 100px;
}

.nav-avocado a{
	text-decoration: none;
}

span.A {
	font-family: "Concert One", cursive;
	color: white;
	font-size: 1.5em;
}

/************************
		SEARCH BOX
************************/

.search-box {
	background-color: #F8F2D2;
	width: 100%;
	position: absolute;
}

input.searchbox {
	border: none;
	box-shadow: 5px 7px #B9BDBB;
	margin: 20px 60px;
	float: right;
	height: 50px;
	width: 25%;
	font-size: 2em;
	background-color: #F0F0F0;
	
}

input[type="text"] {
	padding: 5px 10px;
}

::placeholder {
	color: #B9BDBB;
}

.search-bar {
	position: relative;
	float: right;
	margin: 20px 60px;
	left: 450px;
	top: 10px;
}

/************************
		AVOCADO PIC
************************/

.middle {
	background-color: #F8F2D2;
	padding-bottom: 100px;

}

.body-avocado {
	width: 40%;
	margin: 80px 50px 0;
	float: left;
	margin-right: 30px
}

/****************************
		PARAGRAPH
****************************/

p {
	font-size: 45px;
	text-align: left;
	color: #7FAD65;
	font-family: "Concert One", cursive;
	padding: 130px 100px 50px ;
}

.avocado {
	font-weight: bold;

}

.web, .app {
	color: #F79367;
}

/*************************
		BUTTONS
*************************/

button {
	border: none;
	float: left;
}

.quote {
	color: white;
	background-color: #89B993;
	padding: 15px 40px;
	font-size: 20px;
	margin-left: 5px;

}

.case-studies {
	color: white;
	background-color: #FC9368;
	padding: 15px 30px;
	font-size: 20px;
	margin: 0 30px;

}

/**************************
		FOOTER
**************************/

footer {
	background-color: #89B993;
	text-align: center;
	width: 100%;
}

.social-media: {
	margin: 30px;
}

.social-media a {
	color: white;
	display: inline-block;
	padding: 0px 5px 10px;
}

.social-media i {
	font-size: 25px;
	padding: 20px 20px;
	padding-bottom: 50px;
	text-align: center;
}


@media screen and (max-width: 1200px) {
	
	p {
		font-size: 30px;
		margin: 0;
	}

	.body-avocado {
		width: 30%;
		padding-top: 25px;
	}

	.navigation ul {
		position: static;
		margin: 0;
		float: right;
		padding: 0;
		flex: 1;

	}
	.navigation {
		display: flex;
	}
	.nav-avocado-pic {
		top: 25px;

	}
	span.A {
		position: absolute;
		top: 25px;
	
	}
	.search-bar {
		position: relative;
		left: 290px;
		
	}

	input.searchbox {
		font-size: 1em;
		width: 20%;
	}

	button {
		float: right;

	}
}

@media screen and (max-width: 750px) {
	p {
		font-size: 20px
	}
	.navigation ul {
		font-size: 10px;
		float: right;

	}
	div.nav-avocado {
		margin: 0;
		margin-right: 20px;
		font-size: 10px;
	}
}

@media screen and (max-width: 575px) {

	.quote,.case-studies {
		font-size: 10px;
		position: static;
		padding: 5px;
		float: left;

	}

	p {
		position: relative;
		padding: 250px 10px 50px 10px;


	}

	.body-avocado {
		position: relative;
		padding: 10px;
		margin: 0;
		top: 80px;
		width: 50%;
		left: 70px;
	}

	.search-bar {
		position: absolute;
		left: 160px;
		height: 20px;

		
	}

	input.searchbox {
		height: 20px;
		width: 30%;
}

@media screen and (max-width: 600px) {
	nav {
		padding: 10px;
	}

	.body-avocado {
		position: relative;
		top: 50px;
		padding-bottom: 10px;
	}
	
}